.title-container {
	width: 100%;
	background-image: url('/assets/images/siteWide/page-banner-bg.jpeg');
	background-size: cover;
}

.title-text {
	color: white;
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	margin: 0;
}
